version: '3.8'

services:
  postgres:
    image: markussaw/sushi-delivery-system:postgres-latest
    container_name: sushi-postgres
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"

  app:
    image: markussaw/sushi-delivery-system:app-latest
    container_name: sushi-app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
